* {
    color: white;
    font-family: 'Baloo Bhai 2';
}

body{
    background-size: cover;
    background-image: url('img/bg.jpg');
    height: 100%;
    width: 100%;

}

/* NAVIGATION BAR  */
.navbar {
    float: left;
    display: block;
    position: fixed;
    background-color: rgb(0, 46, 96);
    border: 2px soild black;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 300px;
    margin: 0px 0px;
    line-height: 100px;
    justify-content: space-evenly;
}

.navbar ul {
    position: absolute;
    left: 0px;
    width: 200px;
    text-align: center;

}

.navbar li a {
    display: block;
    text-decoration: none;
    font-size: 25px;
    display: inline-block;
    margin: 10px auto;
}

.navbar h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a img {
    height: fit-content;
    width: fit-content;
}

#logo {
    /*DY LOGO*/
    position: absolute;
    left: 45%;
    border-radius: 9px;
    border: 2px solid black;

}

.mid{
    box-shadow: 10px 10px white;
}

.navbarelem:hover {
    border-radius: 20px;
    width: 90%;
    background-color: rgb(0, 46, 96);
}

/* COURSES SECTION  */
.container {
    /*My COURSES box*/
    display: block;

    position: absolute;
    top: 23%;
    left: 1100px;
    /* border: 2px solid white; */
    background-color: rgb(0, 46, 96);
    border-radius: 20px;
    margin: 4px 4px;
    padding: 13px 13px;
    width: 40%;
    border: 1px solid rgb(255, 255, 255);

}

.allcourses {
    /*Courses list*/
    position: absolute;
    top: 37%;
    left: 1100px;
    /* border: 2px solid white; */
    background-color: rgba(0, 46, 96, 0.9);
    margin: 4px 4px;
    padding: 13px 13px;
    width: 40%;
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);

}

.course {
    font-size: 25px;
}

#chead {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


.course a {
    text-decoration: none;
}

.course a:hover {
    color: darkgray;
    text-decoration: underline;
}

/* DASHBOARD  */
.box {
    display: flexbox;
    position: absolute;
    top: 23%;
    left: 350px;
    height: 600px;
    width: 30%;
}

#upc h2 {
    line-height: 2em;
    border: 2px solid white;
    background-color: rgb(0, 46, 96);
    text-align: center;
}

#ann h2 {
    line-height: 2em;
    border: 2px solid white;
    background-color: rgb(0, 46, 96);
    text-align: center;
}

#ann {
    height: 350px;
}

#dbt h2 {
    line-height: 2em;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(0, 46, 96);
    text-align: center;
    border-radius: 10px;
}


.box p {
    color: black;
    padding: 0px 20px 30px 20px;
    text-align: left;


}

#upc,
#ann {
    background-color: rgba(255, 255, 255, 0.86);
}


.Dash {
    margin: 32px 20px;
    padding: 0px 0px;
    border-radius: 10px;
}

#ann li {
    color: black;
    font-size: 16px;
    text-align: left;
    font-weight: 700;
}

#dbt h2:hover {
    background-color: rgb(64, 0, 0);
    cursor: pointer;
}

/* BUTTONS */

button {
    background-color: rgb(0, 46, 96);
    border: 2px solid white;
    border-radius: 10px;
    line-height: 2em;
    font-size: 24px;
    color: white;
    width: 575px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(0, 46, 96);
}


.allcourses button {
    text-align: left;
    border: none;
    background-color: rgba(113, 32, 32, 0.0);
    display: block;
    text-decoration: none;
    margin: 30px 10px;
    text-decoration: none;
}

.allcourses button:hover {
    color: darkgray;
    text-decoration: underline;
}