* {
    margin: 0px;
    padding: 0px;
    font-family: 'Baloo Bhai 2';
}

body {
    background-color: #F37970;
}

#navbar {
    position: fixed;
    background-color: #E43D40;
    display: flex;
    padding: 20px;
    top: 0;
    width: 100%;
    justify-content: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    z-index: 10;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;

}

#navbar ul li {
    list-style: none;
}

#navbar li a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 20px;
}

.contactus::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    background: url('../static/bg.jpg') center no-repeat;
    background-size: cover;
    filter: brightness(50%)
}

.contactus {
    z-index: 10;
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactus>h2{
    color: white;
    margin: 20px;
}
form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 40%;
    color: white;
    backdrop-filter: blur(60px) brightness(200%);
    box-shadow: rgba(0, 0, 0, 0.522) 0px 0px 60px;
    border-radius: 30px;
}


.myInput {
    width: 80%;
    color: white;

    padding: 10px;
    margin: 20px;
    border: none;
    border-bottom: 2px solid red;
    outline: none;
    font-size: 15px;
    background-color: #00000000;
}

.myInput:focus {
    border-bottom: 2px solid rgb(0, 153, 255);
}

.myInput::placeholder {
    color: white
}

.btn {
    padding: 10px 30px;
    margin-top: 30px;
    background-color: #E43D40;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.522) 0px 0px 10px;
}

.btn:hover {
    background-color: #b73134;

}

#foot {
    padding: 10px 0px;
    background-color: black;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100vw;
}


input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 60000000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
    background-color: transparent !important;
}