<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> HELLO</title>
    <link rel="stylesheet" href="../static/contactstyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap" rel="stylesheet">
</head>

<body>
    <nav id="navbar">
        <ul>
            <li><a href="/"> Home</a></li>
            <li><a href="/"> About</a></li>
            <li><a href="/"> Services</a></li>
            <li><a href="/"> Info</a></li>
            <li><a href="/"> Contact Us</a></li>
        </ul>
    </nav>

    <div class="contactus">
        <form action="/contact" method="post">
            <h2 style="text-align:center ; font-family:'Times New Roman', Times, serif;">Contact Us</h2>
            <input type="text" class="myInput" name="name" placeholder="Enter Your Name">
            <input type="phone" class="myInput" name="phone" placeholder="Enter Your Phone">
            <input type="email" class="myInput" name="email" placeholder="Enter Your Email-Id">
            <input type="text" class="myInput" name="address" placeholder="Enter Your Address">
            <input type="text" class="myInput" name="desc" placeholder="Enter Your concern">


            <button class="btn">
                | Submit
            </button>
        </form>
    </div>

    <footer id="foot">
        Copyright © 2022 HimanshuKothari. All rights reserved.
    </footer>

    <!-- <div class="container"></div> -->
</body>

</html>