<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> HELLO</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap" rel="stylesheet">
</head>

<body>
    <nav id="navbar">
        <ul>
            <li><a href="/"> Home</a></li>
            <li><a href="/"> About</a></li>
            <li><a href="/"> Services</a></li>
            <li><a href="/"> Info</a></li>
            <li><a href="/contact"> Contact Us</a></li>
        </ul>
    </nav>

    <section id="intro">
        <div>
            <h1>WELCOME TO '' DANCE ACADEMY</h1>
        </div>
        <div>Eat.&nbsp Sleep.&nbsp Dance.&nbsp Repeat.&nbsp</div>
    </section>

    <section id="mission">
        <h3>Our Mission</h3>
        <div id="missioncontent">
            <div class="cardS">
                <div class="card" id="card1">
                    <div class="cardhead">
                        <h3>Expert teaching </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, commodi.</p>
                    </div>
                </div>
                <div class="card" id="card2">
                    <div class="cardhead">
                        <h3>Dance the way you want</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, commodi.</p>
                    </div>
                </div>
                <div class="card" id="card3">
                    <div class="cardhead">
                        <h3>Exploring your best selves</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, commodi.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="sponsors">
        <h2>OUR SPONSORS</h2>
        <div class="sponsorscontent">
            <img class="spimg" src="../static/logo1.png" alt="Sponsor Image">
            <img class="spimg" src="../static/logo2.png" alt="Sponsor Image">
            <img class="spimg" src="../static/logo3.png" alt="Sponsor Image">
            <img class="spimg" src="../static/logo4.png" alt="Sponsor Image">
        </div>
    </section>

    <footer id="foot">
        Copyright © 2022 HimanshuKothari. All rights reserved.
    </footer>

    <!-- <div class="container"></div> -->
</body>

</html>